<div class="walker-2">
  <h2 >Walker 2 js Request Frame</h2>
  <div class="canvas-walker-2">
    <div class="canvas-walker-2">
      <div class="landscape">
        <div class="sky">
          <div class="sun"><img src="./assets/images/sun.png" alt="sun"></div>
          <div class="moon"><img src="./assets/images/moon.png" alt="moon"></div>
          <div class="star star_1"></div>
          <div class="star star_2"></div>
          <div class="star star_3"></div>
          <div class="star star_4"></div>
          <div class="star star_5"></div>
          <div class="star star_6"></div>
          <div class="star star_7"></div>
          <div class="star star_8"></div>
          <div class="star star_9"></div>
          <div class="star star_10"></div>
          <div class="star star_11"></div>
          <div class="star star_12"></div>
          <div class="star star_13"></div>
          <div class="star star_14"></div>
          <div class="star star_15"></div>
          <div class="star star_16"></div>
          <div class="star star_17"></div>
          <div class="star star_18"></div>
          <div class="star star_19"></div>
          <div class="cloud cloud-1"></div>
          <div class="cloud cloud-2"></div>
          <div class="cloud cloud-3"></div>
          <div class="cloud cloud-4"></div>
          <div class="mountain"></div>
          <div class="city"> <img src="./assets/images/city.png" alt="city"></div>
        </div>
        <div class="floor">
          <div class="line line_1">
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
          </div>
          <div class="line line_2">
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
          </div>
          <div class="line line_3">
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick4.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick1.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick3.png" alt="brick"></div>
            <div class="brick"><img src="./assets/images/brick/brick2.png" alt="brick"></div>
          </div>
        </div>
      </div>
      <div class="character-wrapper">
        <div class="character">
          <div class="character-inner"><img class="static-right face-right" src="./assets/images/girl/girl1.png" alt="Character"><img
              class="anime-right" data-frame="1" src="./assets/images/girl/girl1.png" alt="Character"></div>
        </div>
      </div>
    </div>
  </div>
</div>